{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/bootstrap-4-3-1-css.css' %}">
    <link rel="stylesheet" href="{% static 'css3/reset.css' %}">

     <style>
            html, body {
                height: 100%;
                margin: 0;
            }

            #wrapper {
                min-height: 91%;
                margin-bottom: -58px;
            }

            #footer,#push {
                height: 58px;
            }
     </style>

</head>
<body>

    {% include 'header.html' %}

    <div id="wrapper">

        {% block content %}
        {% endblock %}

        <div id="push"></div>
    </div>

    {% include 'footer.html' %}


<script src="{% static 'bootstrap-4.3.1/jQuery-3-4-1.min.js' %}"></script>
<script src="{% static 'bootstrap-4.3.1/popper.min.js' %}"></script>
<script src="{% static 'bootstrap-4.3.1/bootstrap-4-3-1-js.min.js' %}"></script>

    {% block script %}
    {% endblock %}

</body>
</html>