{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
    重置密码
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="card mx-auto" style="width: 500px;">
      <div class="card-header">
          <h3>密码重置</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">忘记密码？在下面输入您的e-mail地址，我们将给您发送一封e-mail，以便重置密码。</h5>

          <hr>

          <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_email">Email address</label>
                <input type="email" class="form-control" name="email" required id="id_email" placeholder="邮箱地址...">
              </div>
              <button type="submit" class="btn btn-primary">重置我的密码</button>
          </form>

      </div>
    </div>

{% endblock %}
