{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
              <a title="{{brand.name}}"
                 class="socialaccount_provider {{provider.id}} {{brand.id}}"
                 href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                  {{brand.name}}
              </a>
            </li>
        {% endfor %}
    {% endif %}

{#    把原先的文字换成图片，更加美观#}
    <li style="width: 50px;float: left">
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          {% if provider.name == 'GitHub' %}
            <img src="{% static 'img/github.png' %}" alt="github"  style="width: 50px;height: 50px;border-radius: 25%;" title="使用GitHub登录">
          {% elif provider.name == 'Weixin' %}
              <img src="{% static 'img/weixin.jpg' %}" alt="weixin" style="width: 50px;height: 50px;border-radius: 25%;" title="使用微信登录">
          {% endif %}
      </a>
    </li>
{% endfor %}
