{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    注册
{% endblock %}

{% block content %}

    <div class="container">

        <div class="card" style="height: 400px;top: 5px;">
          <img src="{% static 'img/简约大湖.jpg' %}" style="height: 500px;" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h1 class="card-title text-primary">Sign Up</h1>

              <div class="card-body mx-auto" style="width: 500px;height: 300px;margin-top: -60px;">

                  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="id_username" class="text-primary">Username</label>
                        <input type="text" name="username" class="form-control" required id="id_username" placeholder="用户名...">
                      </div>
                      <div class="form-group">
                          <label for="id_email" class="text-primary">E-mail</label>
                          <input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="邮箱地址...">
                          <small id="emailHelp" class="form-text text-muted">
                            (可选填...)
                          </small>
                      </div>
                      <div class="form-group">
                        <label for="id_password1" class="text-primary">Password</label>
                        <input type="password" name="password1" class="form-control" required id="id_password1" placeholder="密码...">
                      </div>
                      <div class="form-group">
                        <label for="id_password2" class="text-primary">Password again</label>
                        <input type="password" name="password2" class="form-control" required id="id_password2" placeholder="密码（重复）...">
                      </div>

                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}

                      <button type="submit" class="btn btn-primary">sign up</button>
                      <a class="btn btn-primary float-right" href="{% url 'account_login' %}">login</a>
                </form>

              </div>

          </div>
        </div>

    </div>

{% endblock %}
