{% extends 'base.html' %}

{% block title %}
    给我留言
{% endblock %}

{% block content %}

    <div class="container">

         <!-- 发表评论 -->
        {% if user.is_authenticated %}
            <div class="mt-5">
                <form action="{% url 'comments:tome' %}" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                请留下你对博主的话语：
                            </strong>
                        </label>
                        <div>
                            {{ comment_form.media }}
                            {{ comment_form.body }}
                        </div>
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary ">发送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'account_login' %}">登录</a>后回复
            </h5>
            <br>
        {% endif %}


        <!-- 显示评论 -->
        <h4>共有{{ comment_tome.count }}条评论</h4>
        <div>
            {% for comment in comment_tome %}
                <hr>
                <p>
                    <strong style="color: royalblue">
                        {{ comment.user }}
                    </strong> 于
                    <span style="color: green">
                        {{ comment.created|date:"Y-m-d H:i:s" }}
                    </span> 时说：
                </p>
                <p style=" font-size: 1em;">
                    {{ comment.body|safe }}
                </p>
            {% endfor %}
        </div>


    </div>

{% endblock %}

{% block script %}
    <!-- 富文本编辑器宽度自适应 -->
    <script>
        $(".django-ckeditor-widget").removeAttr('style');
    </script>
{% endblock %}